<!DOCTYPE html>
<html>
    <head>
        <title>Acces nepermis</title>
        <style>
            body {background-color:rgb(180, 4, 4); color:white; text-align: center; padding-top: 100px; font-family: sans-serif;}
            h1 {font-size: 40px;}
        </style>
    </head>
    <body>
        <h1>Acces nepermis!</h1>
        <h2>Conexiune blocată de către politica Zero Trust.</h2>
        <p>IP-ul tău ({{ ip }}) nu face parte din rețeaua de încredere ({{ allowed }}x)</p>
        <a href="/">Conectează-te din nou</a>
    </body>
</html>